<div class="container">
  <section class="search-form search--container">
    <form [formGroup]="searchForm">
      <div class="form-group row justify-content-end">
        <input
          type="text"
          formControlName="brand"
          placeholder="Search by Brand:"
          class="form-control col col-9 col-lg-4"
          (keyup)="onChange()"
        />
        <button
          type="button"
          class="btn btn-primary btn-option col col-3 col-lg-2"
          (click)="onChange()"
        >
          Search
        </button>
      </div>
    </form>
  </section>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div
      class="car--container col col-12 col-md-6 col-lg-4"
      *ngFor="let car of cars"
    >
      <h2 class="model">{{ car.title }}</h2>
      <div class="car--img"><img [src]="car.picture" alt="" /></div>
      <ul class="car--detail">
        <li>
          <p>
            <span class="label">Model: </span> <span>{{ car.model }}</span>
          </p>
        </li>
        <li>
          <p>
            <span class="label">Year: </span> <span>{{ car.year }}</span>
          </p>
        </li>
        <li>
          <p>
            <span class="label">Brand: </span>
            <span>{{ car.brand | titlecase }}</span>
          </p>
        </li>
        <li>
          <p>
            <span class="label">Price: </span>
            <span>{{ car.price | currency: 'EUR':true }}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
