.car--container {
  .car--img {
    width: 70%;
  }
  .car--detail {
    li {
      p {
        font-size: 20px;
        font-weight: 300;
        color: #343a40;
        line-height: 26px;
      }
    }
  }
}
.back--button {
  margin-top: 30px;
}
