/* You can add global styles to this file, and also import other style files */
.car--container {
  padding: 20px;

  h2 {
    color: #43484d;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: -2px;
    text-align: center;
  }

  .car--img {
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  .car--detail {
    list-style: none;
    margin: 10px;
    padding: 0;
    li {
      p {
        font-size: 1.1rem;
        font-weight: 300;
        color: #86939e;
        line-height: 24px;
        span {
          &.label {
            font-weight: 600;
          }
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 576px) {
  .car--container {
    h2 {
      font-size: 24px;
    }
  }
}
